// variable format is with $
    // example:
        //$my-var: white;
//

// .my-div {
//     color: #my-var;
// }

$purple: #3B1561;
$orange: #FF8A1E;
$brown: #7C532C;
$white: #ffffff;
$black: #000000;
$light-grey: #E6E6E6;
$mid-grey: #A2A2A2;
$dark-green: #238059;