button {
    height: 10vh;
    width: 30vw;
    background-color: $orange;
    font-size: 1.7em;
    color: $white;
    margin: 2vw;
    border-radius: 15px;
    box-shadow: 0px 9px 9px 5px rgba(0, 0, 0, 0.5), inset 5px 5px 5px rgba(255, 255, 255, 0.5), inset -5px -5px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.submit {
    height: 9vh;
    width: 60vw;
}

.unselected {
    background-color: $brown;
}

.deactivated {
    background-color: $brown;
    cursor: auto;
}

// ------------------- media query stuff -------------------- //
@media screen and (max-width: 700px) {
    button {
        height: 7vh;
        font-size: 1.12em;
    }

    .submit {
        height: 6vh;
        width: 50vw;
    }
}

@media screen and (max-width: 500px) {
    button {
        width: 80%;
    }
}