.footer {
    background-color: $black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.footer h3 {
    font-size: 20px;
    color: $white;
}

.footer a {
    font-size: 14px;
    color: $white;
    margin: .2em;
}

.project-lead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-lead a {
    text-decoration: underline;
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    margin: 0vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member a {
    text-decoration: underline;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}

.footer-info a {
    text-decoration: none
}

.lead {
    width: 50vw;
}

.team .section-splitter {
    @include splitter(110%)
}

// ------------------- media query stuff -------------------- //
@media screen and (max-width: 950px) {
    .project-lead {
        width: 90%;
    }

    .team {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .footer-info {
        width: 90%;
    }
}

@media screen and (max-width: 570px) {
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}