.loading-container {
    position: relative;
    top: 0;
    left: 0;
  }

  .loading-plate {
    position: relative;
    top: 30vh;
    left: 0;
  }

  .loading-pin {
    position: absolute;
    z-index: 1;
    top: 7vh;
    left: 23vh;
  }

  .rotate-y { 
    -webkit-animation: rotateY 1s infinite linear;
    animation: rotateY 2.5s infinite linear;
  }

  @-webkit-keyframes rotateY {
    to { -webkit-transform: rotateY(360deg); }
  }
  @keyframes rotateY {
    to { transform: rotateY(360deg); }
  }

  @media screen and (max-width: 650px) {
    .loading-pin {
        top: 22vh;
        left: 7vh;
        height: 27vh;
        width: 27vh;
    }

    .loading-plate {
        height: 40vh;
        width: 40vh;
    }
  }

  @media screen and (max-width: 380px) {
    .loading-pin {
        top: 25vh;
        left: 5.5vh;
        height: 19vh;
        width: 19vh;
    }

    .loading-plate {
        height: 30vh;
        width: 30vh;
    }
  }