* {
  font-family: 'Hammersmith One', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  background-color: $purple;
}


h1 {
  font-size: 60px;
  text-decoration: none;
  color: $white;
}