.options-panel{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    width: 80%;
    @extend %section-format;
    border-radius: 25px;
    margin: 30px;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info p {
    margin: 1vh;
}

.about {
    text-align: center;
    width: 70%;
}

@media screen and (max-width: 900px) {
    .about {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 665px) {
    .about {
        font-size: 1.2em;
    }
}