.info-panel {
    height: 70vh;
    background-color: $white;
    width: 80%;
    @extend %section-format;
    margin: 30px;
}

.info-panel p {
    font-size: 1.2em;
    margin: .2em;
}

// ------------------ header ------------------ //
.info-header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    height: 10vh;
}

.name{
    color: $white;
}

// ------------------ info box ------------------ //
.information {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.restaurant-image {
    width:25%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.restaurant-image img {
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73%;
}


// ------------------ top div ------------------ //
.properties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

.phone-container {
    display: flex;
    flex-direction: row;
}

.cuisine {
    text-align: center;
}

// ------------------ info bottom div ------------------ //
.address-container {
    display: flex;
    justify-content: center;
}

// ------------------ map ------------------ //
.map-container {
    height: 27vh;
    width:100%;
    background-color: $dark-green;
    margin-bottom: 20px;
}
