.info-panel {
    height: 70vh;
    background-color: $white;
    width: 80%;
    @extend %section-format;
    margin: 30px;
}

.info-panel p {
    font-size: 1.1em;
    text-align: center;
    margin: 0px;
}

// ------------------ header ------------------ //
.info-header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    height: 10vh;
}

.info-header h2 {
    font-size: 2.4em;
    text-align: center;
    margin: 8vw;
}

.name{
    color: $white;
}

// ------------------ info box ------------------ //
.information {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.restaurant-image {
    width:25%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.restaurant-image img {
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73%;
}

// ------------------ top div ------------------ //
.properties {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
}

.phone-container {
    display: flex;
    flex-direction: row;
}

.cuisine {
    text-align: center;
}

// ------------------ info bottom div ------------------ //
.address-container {
    display: flex;
    justify-content: center;
}

// ------------------ map ------------------ //
.map-container {
    height: 32vh;
    width:100%;
    background-color: $purple;
    overflow-y: scroll;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.map-container::-webkit-scrollbar {
    width: 20px;
    margin-right: 200px;
}

.map-container::-webkit-scrollbar-track {
    background-color: $mid-grey;
}

.map-container::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border-radius: 25px;
}

.map-img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .info-header h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 481px) {
    .map-container {
        overflow-y: hidden;
    }
    .map-img {
        width: auto;
        height: 100%;
    }
    .restaurant-image img {
        width: auto;
        height: 100%;
    }
    
    .properties {
        flex-direction: column;
        align-items: center;
    }
}